# Environment variables
.env
/server/.env

# Node modules
/node_modules
/server/node_modules
/client/node_modules

# Build files
/client/dist
/server/dist

# Misc
TODO.md
AGENTS.md
CLAUDE.md
GEMINI.md
deploy.sh